pandas==2.2.3
numpy==2.1.2
scikit-learn==1.5.2
scipy==1.14.1

torch==2.4.1
# tensorflow-cpu==2.17.0

transformers==4.45.2
datasets==3.0.2
accelerate==1.0.0
sentencepiece==0.2.0

tqdm==4.66.5
matplotlib==3.9.2
seaborn==0.13.2
jupyter==1.1.1

sqlalchemy==2.0.36
psycopg2-binary==2.9.9
sqlite-utils==3.37

yamlargparse==1.31.1
python-dotenv==1.0.1

black==24.8.0
ruff==0.6.8

# Social data collection
praw==7.7.1
snscrape==0.7.0.20230622
